<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="さんぷるカテゴリ"
            id="NyumonViewPlugin">
      </category>
      <view
            name="超絶簡単ビュー"
            icon="icons/turip.gif"
            category="NyumonViewPlugin"
            class="nyumonviewplugin.views.SampleView"
            id="nyumonviewplugin.views.SampleView">
      </view>
      <view
            category="NyumonViewPlugin"
            class="nyumonviewplugin.views.ButtonView"
            icon="icons/hiyoko.gif"
            id="NyumonViewPlugin.ButtonView"
            name="ぼたんビュー"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
